<launch>

  <arg name="svo_file"          default="" /> <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->
  <arg name="stream"            default="" /> <!-- <arg name="stream" default="<ip_address>:<port>"> -->
  <arg name="camera_model"      default="zed2" />
  <arg name="camera_name"       default="zed2" />

  <!-- Launch ZED camera wrapper -->
  <include file="$(find zed_tracking)/launch/camera.launch">
    <arg name="camera_model"    value="$(arg camera_model)" />
    <arg name="camera_name"     value="$(arg camera_name)" />
    <arg name="svo_file"        value="$(arg svo_file)" />
    <arg name="stream"          value="$(arg stream)" />
  </include>

  <!-- Launch skeleton tracking node -->
  <node name="$(arg camera_name)_skeleton_tracking" pkg="zed_tracking" type="zed_tracking_node.py"  output="screen" >
    <param name="camera_name" type="str" value="$(arg camera_name)" />
  </node>

  <!-- Load parameters for the skeleton tracking node. This OVERRIDES the values previously set by other nodes' inner rosparam commands -->
  <rosparam command="load" file="$(find zed_tracking)/config/tracking_config.yaml" />

</launch>
